<app-principal-form></app-principal-form>
<button class="btn-login" (click)="crearFormNuevo()" *ngIf="editarBoolean ==  false">Crear Formulario</button>
<div *ngIf="editarBoolean ==  false">
    <table>
      <tr>
        <th>Nombre Formulario</th>
        <th>Acción</th>
        <th>Ver formulario</th>
      </tr>
      <tr *ngFor="let item of formularios">
        <td>{{item.nombreFormulario}}</td>
        <td><button class="btn-login" [routerLink]="['/formulario',item.idFormulario, 'NO']">Editar</button></td>
        <td><button class="btn-login" [routerLink]="['/formulario',item.idFormulario, 'VER']">Ver</button></td>
      </tr>
    </table>
</div>

<div class="testbox" *ngIf="editarBoolean && crearBoolean != true">
        <h1>Editar formulario</h1>
    <form>
    
        <input type="text" class="form-control" id="nombreUsuario" placeholder="Ingrese nombre formulario"
          name="nombreUsuario" [(ngModel)]="formulario.nombreFormulario">
    
        <hr>
        <button class="btn-login" (click)="createForm()" >Guardar formulario</button>
        <hr>
        <table>
          <tr>
            <th>Preguntas</th>
            <th>Acción</th>
            <th>Acción</th>
          </tr>
          <tr *ngFor="let item of preguntas; ; let i = index">
            <td>{{item.nombrePregunta}}</td>
            <td><button class="btn-login" [routerLink]="['/pregunta',item.idPregunta,formulario.idFormulario]">Editar</button></td>
            <td><button class="btn-login" (click)="eliminarOpcion(i)">Eliminar</button></td>
          </tr>
        </table>
        <hr>
        <button class="btn-login" type="submit" [routerLink]="['/pregunta',formulario.idFormulario]">Crear Preguntas</button>
      </form>
</div>

<div class="testbox" *ngIf="crearBoolean">
    <h1>Crear formulario</h1>
    <form (submit)="createForm()">
    
        <input type="text" class="form-control" id="nombreFormulario" placeholder="Ingrese nombre formulario"
          name="nombreFormulario" [(ngModel)]="formulario.nombreFormulario">
    
        <hr>
        <button class="btn-login" type="submit">Guardar</button>
      </form>
</div>


<div class="testbox" *ngIf="seBoolean">
  <h1>Ver formulario</h1>
  <form>
  
    <div *ngFor="let item of sePregunta; ; let i = index">

      <h1>Pregunta {{i+1}}</h1>
      <div>
        <input type="text" class="form-control" id="{{item.nombrePregunta}}"  disabled="true"
        name="{{item.nombrePregunta}}" [(ngModel)]="item.nombrePregunta">
      </div>

      <br>
      <h1>Respuestas Pregunta {{i+1}}</h1>
      <div *ngFor="let opc of getOpcionsPregunta(item.idPregunta) ; let j = index">
       <p>Respuesta # {{j+1}}</p> 
       <input type="text" class="form-control" id="{{opc.nombreOpcion}}"  disabled="true"
        name="{{opc.nombreOpcion}}" [(ngModel)]="opc.nombreOpcion">
      </div>

      <br>
    </div>

    </form>
</div>