<app-principal-form></app-principal-form>
<div *ngIf="paramId == null">
    <table>
      <tr>
        <th>Nombre Formulario</th>
        <th>Acción</th>
      </tr>
      <tr *ngFor="let item of formularios">
        <td>{{item.nombreFormulario}}</td>
        <td>
          <button *ngIf="item.userFrom == false" class="btn-login" [routerLink]="['/formulariosRealizar',item.idFormulario]">Realizar</button>
          <p *ngIf="item.userFrom">Formulario completo</p>
        </td>
      </tr>
    </table>
</div>

<div *ngIf="paramId != null">
    <div class="testbox" >
        <h1>Ver formulario</h1>
        <form>
        
          <div *ngFor="let item of sePregunta; ; let i = index">
      
            <h1>Pregunta {{i+1}}</h1>
            <div>
              <input type="text" class="form-control" id="{{item.nombrePregunta}}"  disabled="true"
              name="{{item.nombrePregunta}}" [(ngModel)]="item.nombrePregunta">

            </div>
      
            <br>
            <h1>Respuestas Pregunta {{i+1}}</h1>
            <div class="accounttype" style="display: table-cell;" *ngFor="let opc of getOpcionsPregunta(item.idPregunta) ; let j = index">
             <input type="radio" id="{{opc.nombreOpcion}}{{j}}" class="form-control" id="{{opc.nombreOpcion}}"  
              name="opciones{{i+1}}" (change)="onChange(item,opc, i, j)">
              <label for="{{opc.nombreOpcion}}{{j}}" >{{opc.nombreOpcion}}</label>
            </div>
      
            <br>
          </div>
          <button class="btn-login" (click)="saveForm()">Enviar Respuestas</button>
          </form>
      </div>
</div>

